# LP1 Data Analysis Project
### Indian Startup Data Analysis (2018-2021)

### Objective

Understanding the Indian startup ecosystem from previous data on funding and investors from **2018 to 2021**, and proposing to our team the best way to venture into the market.

### Hypothesis
**Null Hypothesis(Ho)** : No relationship between sector and amount raised(capital)

**Alternate Hypothesis(Ha)** : Some sectors receive more funding than others (relationship between the sector and amount raised)

### Research Questions

1. Which sector has the highest number of investors?

2. Which sector received the highest amount of funding collectively?

3. Which region has the most startups?

4. Which sector received the lowest amount of funding collectively?

5. Which industry received the lowest amount of funding collectively?

6. What is the average amount of capital invested for the top 5 sectors?

### Some Relevant Stakeholders

-   Startups

-   Investors

-   Government

-   Incubators and Startup Accelerators

-   Other Founders and Entrepreneurs

-   Customers

-   Competitors

## Installations

Packages for accessing remote database with data

In [2]:
# %pip install pyodbc  
# %pip install python-dotenv

Import other packages/libraries required for the project

In [3]:
# Database connections

import pyodbc 
from dotenv import dotenv_values #import the dotenv_values function from the dotenv package
import warnings 
warnings.filterwarnings('ignore')

# Data handling

import pandas as pd
import numpy as np

# Data Visualisation

import seaborn as sns
import matplotlib.pyplot as plt

## Accessing 2020-2021 data from the database

-   **pyodbc**: A package for creating connection strings to your remote database
-   **python-dotenv**: A package for creating environment variables that will help you hide sensitve configuration informantion such as database credentials and API keys

We already have our 2018 and 2019 data stored in csv files. We want to access the 2020 and 2021 data.

In [4]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')


# Get the values for the credentials you set in the '.env' file
database = environment_variables.get("DATABASE")
server = environment_variables.get("SERVER")
username = environment_variables.get("USERNAME")
password = environment_variables.get("PASSWORD")


connection_string = f"DRIVER={{SQL Server}};SERVER=tcp:{server};DATABASE={database};UID={username};PWD={password}"

In [5]:
# Use the connect method of the pyodbc library and pass in the connection string.
# This will connect to the server and might take a few seconds to be complete. 
# Check your internet connection if it takes more time than necessary

connection = pyodbc.connect(connection_string)

In [6]:
# Get the cursor
cursor = connection.cursor()

# Retrieve the table names
table_names = cursor.tables(tableType='TABLE')

# Fetch all the table names
tables = table_names.fetchall()

# Print the table names
for table in tables:
    print(table.table_name)

LP1_startup_funding2020
LP1_startup_funding2021
trace_xe_action_map
trace_xe_event_map

In [7]:
# Now the sql query to get the data is what what you see below. 
# Note that you will not have permissions to insert delete or update this database table. 

query = "SELECT * FROM LP1_startup_funding2020"
data=pd.read_sql(query,connection)

In [8]:
data.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.6+ KB

In [10]:
# save to csv

data.to_csv('LP1_startup_funding2020.csv', index=False)

In [11]:
query = "SELECT * FROM LP1_startup_funding2021"
data_2=pd.read_sql(query,connection)

In [12]:
data_2.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [13]:
data_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

In [14]:
# save to csv

data_2.to_csv('LP1_startup_funding2021.csv', index=False)

In [15]:
data_3 = pd.read_csv('startup_funding2018.csv')
data_3.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [16]:
data_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [17]:
data_4 = pd.read_csv('startup_funding2019.csv')
data_4.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

In [18]:
data_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

# Exploratory Data Analysis - EDA
## Cleaning and analysis

### 2018 Data Cleaning

In [20]:
data_df_2018 = pd.read_csv('startup_funding2018.csv')
data_df_2018.tail()

,Company Name,Industry,Round/Series,Amount,Location,About Company
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif..."
522,Happyeasygo Group,"Tourism, Travel",Series A,—,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...
524,Droni Tech,Information Technology,Seed,"₹35,000,000","Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!

In [21]:
data_df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [22]:
# Check for duplicates

data_df_2018.duplicated().sum()

1

In [23]:
# show all occurences of duplicated rows

data_df_2018[data_df_2018.duplicated(keep=False)]

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
348,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."

In [24]:
# Drop duplicates

data_df_2018.drop_duplicates(inplace = True)

In [26]:
pd.set_option('display.max_rows', None)

In [27]:
data_df_2018['Industry'].value_counts()

Industry
—                                                                                                                                           30
Financial Services                                                                                                                          15
Education                                                                                                                                    8
Information Technology                                                                                                                       7
Finance, Financial Services                                                                                                                  5
Health Care, Hospital                                                                                                                        5
Artificial Intelligence                                                                                                                      4
Health Care                                                                                                                                  4
Fitness, Health Care, Wellness                                                                                                               4
Internet                                                                                                                                     4
Software                                                                                                                                     4
Automotive                                                                                                                                   3
Financial Services, Lending                                                                                                                  3
E-Learning                                                                                                                                   3
Food and Beverage                                                                                                                            3
Tourism, Travel                                                                                                                              3
Food and Beverage, Food Processing                                                                                                           3
Travel                                                                                                                                       3
Information Services, Information Technology                                                                                                 3
Consumer Goods                                                                                                                               2
Biotechnology                                                                                                                                2
Health Care, Hospital, Supply Chain Management                                                                                               2
Finance                                                                                                                                      2
E-Learning, Education                                                                                                                        2
Transportation                                                                                                                               2
Aerospace                                                                                                                                    2
Fashion                                                                                                                                      2
E-Commerce                                                                                                                                   2
Credit, Financial Services, FinTech, Lending                                                                                                 2
Finance, Financial Services, FinTech                                                                                                         2
Human Resources                                                                                                                              2
Health Care, Medical, Pharmaceutical                                                                                                         2
Retail                                                                                                                                       2
Sports                                                                                                                                       2
Digital Media                                                                                                                                2
Health Diagnostics                                                                                                                           2
E-Learning, EdTech, Education                                                                                                                2
Mobile Payments                                                                                                                              2
Insurance                                                                                                                                    2
Financial Services, FinTech                                                                                                                  2
Agriculture, Farming                                                                                                                         2
Banking, Finance, Financial Services                                                                                                         2
Market Research                                                                                                                              2
Crowdfunding, Finance, Financial Services                                                                                                    2
Communities, Leisure, Mobile Apps, Software                                                                                                  1
Agriculture, Mobile                                                                                                                          1
Fashion, Graphic Design, Wearables                                                                                                           1
Career Planning, Education, Internet                                                                                                         1
Medical, Tourism                                                                                                                             1
Finance, FinTech, Payments, Property Development, Rental                                                                                     1
Social Media, Sports                                                                                                                         1
Apps, Home Services, Information Services, Information Technology                                                                            1
Child Care, Health Care, Hospital, Medical, Women's                                                                                          1
Information Services, Information Technology, Mobile, Software                                                                               1
Smart Cities, Telecommunications                                                                                                             1
Apps, Fitness, Health Care, mHealth                                                                                                          1
Food and Beverage, Food Delivery                                                                                                             1
Internet of Things, Robotics                                                                                                                 1
Apps, Financial Services, FinTech                                                                                                            1
Automotive, Rental, Sharing Economy                                                                                                          1
Customer Service, Information Technology, Internet, Sales Automation                                                                         1
E-Commerce, E-Commerce Platforms, Retail                                                                                                     1
EdTech, Education, Mobile, Tutoring                                                                                                          1
Beauty, Cosmetics, Health Care, Service Industry                                                                                             1
Credit Cards, Payments, Property Insurance, Property Management, Rental Property                                                             1
Advertising, Artificial Intelligence, Digital Media, iOS, Location Based Services, News, Video, Video on Demand, Video Streaming             1
E-Commerce, Fashion, Shopping                                                                                                                1
Digital Entertainment, Mobile, PC Games                                                                                                      1
Biopharma                                                                                                                                    1
Crowdfunding, Financial Services, Internet                                                                                                   1
Information Technology, SaaS, Security                                                                                                       1
Finance, Financial Services, Small and Medium Businesses                                                                                     1
Artificial Intelligence, Energy, Oil and Gas                                                                                                 1
Energy, Environmental Consulting, Renewable Energy, Solar                                                                                    1
Computer, FinTech, Risk Management, Software                                                                                                 1
Continuing Education, EdTech, Education, Skill Assessment                                                                                    1
Human Resources, Security, Training                                                                                                          1
Commercial, E-Learning, Education                                                                                                            1
Big Data, Financial Services, Machine Learning, Predictive Analytics                                                                         1
E-Learning, EdTech, Education, Image Recognition, Machine Learning, STEM Education                                                           1
Wedding                                                                                                                                      1
Finance, FinTech, Mobile Payments                                                                                                            1
Cryptocurrency, Trading Platform                                                                                                             1
Agriculture, AgTech, Artificial Intelligence, Internet of Things, Machine Learning                                                           1
Fraud Detection, Information Services, Security                                                                                              1
B2B, E-Commerce, Enterprise                                                                                                                  1
Digital Media, News, Publishing                                                                                                              1
Agriculture, AgTech, Manufacturing                                                                                                           1
Consulting                                                                                                                                   1
Crowdsourcing, Financial Services, Funding Platform, Venture Capital                                                                         1
Media and Entertainment, News, Publishing                                                                                                    1
Basketball, Cricket, Cycling, eSports, Fitness, Golf, Health Care, Hockey, Sports, Swimming, Table Tennis, Volley Ball                       1
Big Data, Data Visualization, Logistics, Software                                                                                            1
Delivery Service, Logistics, Service Industry                                                                                                1
Apps, Health Care, Hospital, Mobile Apps                                                                                                     1
Consumer Electronics                                                                                                                         1
Education, Human Resources                                                                                                                   1
Biotechnology, Health Care, Life Science, Medical Device                                                                                     1
Finance, Financial Services, Marketing                                                                                                       1
Digital Entertainment                                                                                                                        1
Delivery, Drones, Geospatial, Robotics                                                                                                       1
Automotive, Last Mile Transportation, Peer to Peer, Ride Sharing                                                                             1
Advertising, Internet, Marketing                                                                                                             1
Digital Entertainment, Fantasy Sports, Gaming, Sports                                                                                        1
Apps, B2B, Freight Service, Logistics, SaaS, Shipping, Supply Chain Management, Transportation                                               1
Marketing                                                                                                                                    1
Apps                                                                                                                                         1
Food Processing                                                                                                                              1
Banking                                                                                                                                      1
Marketing, Social Media, Video                                                                                                               1
Consumer Lending, Finance, FinTech                                                                                                           1
Health Insurance, Insurance, Life Insurance                                                                                                  1
CleanTech                                                                                                                                    1
Health Care, Information Technology, Management Information Systems                                                                          1
Consumer Electronics, E-Commerce, E-Commerce Platforms, Electronics, Shipping, Shopping                                                      1
Financial Services, Insurance, Private Social Networking                                                                                     1
Dental, Elder Care, Health Care, Home Health Care, Personal Health                                                                           1
Internet, Software                                                                                                                           1
Alternative Medicine, Health Care                                                                                                            1
Medical Device                                                                                                                               1
Career Planning, Education, Higher Education, Service Industry                                                                               1
Business Travel, Hospitality, Hotel, Marketplace, Tourism, Travel Accommodations                                                             1
Farming                                                                                                                                      1
Apps, Payments, Retail                                                                                                                       1
Mobile, Software, Travel                                                                                                                     1
Rental, Taxi Service, Travel                                                                                                                 1
Energy, Natural Resources                                                                                                                    1
Apps, E-Commerce, Internet, Mobile, Ride Sharing, Transportation                                                                             1
Consumer, Furniture, Home Decor, Home Improvement                                                                                            1
Artificial Intelligence, Machine Learning, PaaS                                                                                              1
Dating, Private Social Networking                                                                                                            1
Logistics, Railroad, Transportation                                                                                                          1
Artificial Intelligence, Human Resources, Information Services, Information Technology                                                       1
Apps, Events, News                                                                                                                           1
E-Commerce, Furniture, Interior Design                                                                                                       1
Health Care, Health Diagnostics, Internet of Things, Life Science, Machine Learning, Medical, Medical Device                                 1
Internet, Mobile Apps, Social Network                                                                                                        1
Industrial, Industrial Automation                                                                                                            1
News, Publishing, Social Media                                                                                                               1

In [28]:
# Missing values in Industry Column

data_df_2018[data_df_2018['Industry'] == '—']

,Company Name,Industry,Round/Series,Amount,Location,About Company
58,MissMalini Entertainment,—,Seed,"₹104,000,000","Mumbai, Maharashtra, India",MissMalini Entertainment is a multi-platform n...
105,Jagaran Microfin,—,Debt Financing,"₹550,000,000","Kolkata, West Bengal, India",Jagaran Microfin is a Microfinance institution...
121,FLEECA,—,Seed,—,"Jaipur, Rajasthan, India",FLEECA is a Tyre Care Provider company.
146,WheelsEMI,—,Series B,"$14,000,000","Pune, Maharashtra, India","WheelsEMI is the brand name of NBFC, WheelsEMI..."
153,Fric Bergen,—,Venture - Series Unknown,—,"Alwar, Rajasthan, India",Fric Bergen is a leader in the specialty food ...
174,Deftouch,—,Seed,—,"Bangalore, Karnataka, India",Deftouch is a mobile game development company ...
181,Corefactors,—,Seed,—,"Bangalore, Karnataka, India","Corefactors is a leading campaign management, ..."
210,Cell Propulsion,—,Seed,"₹7,000,000","Bangalore, Karnataka, India",Cell Propulsion is an electric mobility startu...
230,Flathalt,—,Angel,50000,"Gurgaon, Haryana, India",FInd your Customized Home here.
235,dishq,—,Seed,400000,"Bengaluru, Karnataka, India",dishq leverages food science and machine learn...
238,Trell,—,Seed,1250000,"Bangalore City, Karnataka, India",Trell is a location based network which helps ...
242,HousingMan.com,—,Seed,"₹103,000,000","Bengaluru, Karnataka, India","New Apartments, Flats for Sale in Bangalore"
243,Steradian Semiconductors,—,Seed,—,"Bangalore, Karnataka, India",It is a fabless semiconductor company focused ...
247,SaffronStays,—,Seed,2000000,"Mumbai, Maharashtra, India",SaffronStays connects travellers to India's In...
251,Inner Being Wellness,—,Angel,"₹35,000,000","Hyderabad, Andhra Pradesh, India","Inner Being Wellness manufactures beauty, well..."
257,MySEODoc,—,Seed,—,"Delhi, Delhi, India","SEO, PPC, Search Engine Marketing, Social Medi..."
258,ENLYFT DIGITAL SOLUTIONS PRIVATE LIMITED,—,Seed,"₹200,000","Pune, Maharashtra, India",Digital Marketing Agency
259,Scale Labs,—,Seed,1000000,"Delhi, Delhi, India",Scale Labs is a cross border e-commerce soluti...
294,Roadcast,—,Angel,250000,"New Delhi, Delhi, India",Transforming the way businesses deliver. Work-...
325,Toffee,—,Seed,1500000,"Gurgaon, Haryana, India","Toffee is a bite size, micro-event & contextua..."
326,ORO Wealth,—,Series A,1600000,"Mumbai, Maharashtra, India",Online wealth management platform
346,Finwego,—,Seed,—,"Chennai, Tamil Nadu, India",Finwego partners with Small and Medium Busines...
398,Cred,—,Seed,—,"Bengaluru, Karnataka, India",Cred is a platform to celebrate and reward the...
457,Origo,—,Venture - Series Unknown,"₹800,000,000","Gurgaon, Haryana, India","Origo Commodities, a complete post-harvest man..."
472,Sequretek,—,Venture - Series Unknown,3700000,"Mumbai, Maharashtra, India",Sequretek is a cyber security start-up.
473,Avenues Payments India Pvt. Ltd.,—,Corporate Round,1300000,"Mumbai, Maharashtra, India",Avenues Payments is an IT solutions provider f...
476,Planet11 eCommerce Solutions India (Avenue11),—,Corporate Round,"₹260,000,000","Bengaluru, Karnataka, India","Planet11 is backed by SK Planet, which is a pa..."
478,Iba Halal Care,—,Series A,"₹150,000,000","Ahmedabad, Gujarat, India",Iba Halal Care is a cosmetics brand company.
480,Togedr,—,Venture - Series Unknown,—,"Gurgaon, Haryana, India",Togedr is an activity discovery & booking plat...
510,Scholify,—,Pre-Seed,—,"Bengaluru, Karnataka, India",Edutech

In [29]:
# Replace missing values with np.nan

data_df_2018['Industry']=data_df_2018['Industry'].replace('—',np.nan)

In [31]:
# we want to simplify the industry column
## Split values with a comma delimiter, select only the first element from the resulting list of substrings
## remove single quotes, since it is a string

data_df_2018['Industry'] = data_df_2018['Industry'].str.split(',').str[0].str.replace("'", "", regex=True)

In [32]:
data_df_2018['Industry'].value_counts()

Industry
Financial Services                    26
Health Care                           26
E-Commerce                            22
Apps                                  20
Automotive                            18
Finance                               18
Food and Beverage                     16
Artificial Intelligence               15
Internet                              13
Education                             12
E-Learning                            11
B2B                                   10
Information Technology                10
Agriculture                            8
Banking                                7
Biotechnology                          7
Fitness                                7
EdTech                                 6
Fashion                                6
Digital Media                          6
Information Services                   6
Credit                                 5
Big Data                               5
Food Delivery                          5
Energy                                 5
Software                               5
Hospitality                            4
Advertising                            4
Cloud Computing                        4
Consumer Lending                       4
Consumer Goods                         4
Digital Entertainment                  4
Analytics                              4
Beauty                                 4
Customer Service                       3
Human Resources                        3
Mobile                                 3
Manufacturing                          3
Consumer                               3
Consumer Electronics                   3
Consulting                             3
Tourism                                3
Delivery Service                       3
Travel                                 3
Crowdfunding                           3
Accounting                             3
Internet of Things                     3
Delivery                               3
Logistics                              3
Computer                               3
Media and Entertainment                2
Collaboration                          2
Industrial Automation                  2
Rental                                 2
Medical                                2
Market Research                        2
Retail                                 2
Marketing                              2
Sports                                 2
Credit Cards                           2
Autonomous Vehicles                    2
Food Processing                        2
FinTech                                2
Health Diagnostics                     2
Insurance                              2
Mobile Payments                        2
Children                               2
Home Decor                             2
Aerospace                              2
Career Planning                        2
Communities                            2
Transportation                         2
Child Care                             2
Cryptocurrency                         1
Fraud Detection                        1
Farming                                1
CleanTech                              1
Dental                                 1
Alternative Medicine                   1
Medical Device                         1
Crowdsourcing                          1
Business Travel                        1
Wedding                                1
Brand Marketing                        1
Commercial                             1
Continuing Education                   1
Fantasy Sports                         1
Dating                                 1
Industrial                             1
News                                   1
Music                                  1
Online Portals                         1
Online Games                           1
Cooking                                1
Last Mile Transportation               1
Packaging Services                     1
Basketball                             1
Reading Apps                           1
eSports                                1
Cosmetics                              1
Battery                                1
Search Engine                          1
Gaming                                 1
Health Insurance                       1
Biopharma                              1
Social Media                           1
Smart Cities                           1
Electric Vehicle                       1
Funding Platform                       1
Commercial Real Estate                 1
Trading Platform                       1
AgTech                                 1
Embedded Systems                       1
Creative Agency                        1
Digital Marketing                      1
Marketplace                            1
Consumer Applications                  1
Wellness                               1
Broadcasting                           1
Environmental Consulting               1
Clean Energy                           1
Renewable Energy                       1
Blockchain                             1
Enterprise Software                    1
Air Transportation                     1
Cloud Infrastructure                   1
E-Commerce Platforms                   1
Hospital                               1
Events                                 1
3D Printing                            1
Classifieds                            1
Android                                1
Catering                               1
File Sharing                           1
Nanotechnology                         1
Dietary Supplements                    1
Training                               1
Business Development                   1
Music Streaming                        1
Facilities Support Services            1
Veterinary                             1
Wealth Management                      1
Business Intelligence                  1
Government                             1
Audio                                  1
Enterprise Resource Planning (ERP)     1
Eyewear                                1
Name: count, dtype: int64

In [33]:
# checking amount column for different values

data_df_2018['Amount'].value_counts()

Amount
—                  148
1000000             24
500000              13
2000000             12
₹50,000,000          9
₹20,000,000          8
4000000              7
5000000              7
₹40,000,000          6
250000               5
₹35,000,000          5
$100,000             4
300000               4
1500000              4
₹30,000,000          4
3000000              4
1100000              4
₹250,000,000         3
₹600,000,000         3
₹2,000,000,000       3
120000               3
30000000             3
$1,000,000           3
200000               3
₹70,000,000          3
400000               3
$1,500,000           3
₹100,000,000         3
₹10,000,000          3
$100,000,000         3
150000               3
₹5,000,000           3
1300000              3
$11,000,000          3
$2,000,000           3
₹140,000,000         3
$10,000,000          2
$900,000             2
₹650,000,000         2
$50,000,000          2
$5,000,000           2
15000000             2
$6,000,000           2
₹1,200,000           2
$3,000,000           2
1400000              2
₹72,000,000          2
₹150,000,000         2
₹135,000,000         2
50000                2
₹120,000,000         2
4200000              2
4500000              2
600000               2
₹12,000,000          2
3500000              2
₹2,500,000,000       2
₹60,000,000          2
50000000             2
₹25,000,000          2
₹1,000,000,000       2
100000               2
₹100,000             2
₹15,000,000          2
₹45,000,000          2
650000               2
₹12,500,000          2
6000000              2
₹550,000,000         2
₹16,000,000          2
₹400,000,000         2
1600000              2
₹240,000,000         2
₹64,000,000          2
$250,000             1
$37,680,000          1
$20,000              1
₹730,000,000         1
₹510,000,000         1
₹810,000,000         1
22000000             1
70000                1
₹1,130,000,000       1
₹2,200,000,000       1
₹580,000,000         1
$210,000,000         1
₹340,000,000         1
₹36,000,000          1
₹1,400,000,000       1
14900000             1
$3,300,000           1
$200,000             1
$3,530,000           1
₹1,410,000,000       1
$41,900,000          1
225000000            1
7500                 1
10000000             1
₹20,000,000,000      1
100000000            1
550000               1
80000000             1
2500000              1
750000               1
₹800,000,000         1
₹280,000,000         1
3700000              1
2700000              1
5600000              1
₹260,000,000         1
99230000             1
70000000             1
1760000              1
₹80,000,000          1
40000                1
75000000             1
₹264,000,000         1
₹2,029,600,000       1
210000000            1
₹210,000,000         1
365000000            1
₹8,750,000           1
700000               1
₹165,000,000         1
65000000             1
185000000            1
₹4,000,000,000       1
₹78,000,000          1
28000000             1
25000000             1
₹15,392,000,000      1
₹1,540,000,000       1
₹7,000,000           1
$1,100,000           1
₹102,500,000         1
₹1,600,000,000       1
$540,000,000         1
$3,240,000           1
₹44,000,000          1
$150,000             1
$23,000,000          1
$30,000,000          1
$2,400,000           1
$28,500,000          1
$35,000,000          1
$7,000,000           1
$1,000,000,000       1
$10,000              1
$3,980,000           1
$742,000,000         1
$143,145             1
₹342,000,000         1
₹34,000,000          1
20000                1
9000000              1
₹60,000              1
₹8,000,000           1
₹26,400,000          1
13400000             1
₹104,000,000         1
1700000              1
2800000              1
₹500,000             1
₹65,000,000          1
$14,000,000          1
₹5,200,000,000       1
$40,000,000          1
$800,000             1
12000000             1
₹32,000,000          1
17200000             1
₹34,900,000          1
130000               1
125000               1
₹33,000,000          1
₹16,600,000          1
₹200,000             1
1450000              1
175000               1
₹103,000,000         1
₹19,200,000          1
180000               1
1250000              1
₹140,200,000         1
13200000             1
₹22,500,000          1
₹1,400,000           1
364846               1
4300000              1
6830000              1
₹9,500,000           1
3600000              1
1800000              1
2200000              1
1200000              1
$15,000              1
$1,041,000           1
35000000             1
Name: count, dtype: int64

In [35]:
# Missing values in Amount Column

data_df_2018[data_df_2018['Amount'] == '—'].head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
4,Eunimart,E-Commerce Platforms,Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...
8,Freightwalla,Information Services,Seed,—,"Mumbai, Maharashtra, India",Freightwalla is an international forwarder tha...
9,Microchip Payments,Mobile Payments,Seed,—,"Bangalore, Karnataka, India",Microchip payments is a mobile-based payment a...
10,BizCrum Infotech Pvt. Ltd.,B2B,Seed,—,"Delhi, Delhi, India",Building Transactionary B2B Marketplaces
11,Emojifi,Internet,Seed,—,"Bengaluru, Karnataka, India","Emojifi is an app that provides live emoji, st..."

In [36]:
# Replace Values

data_df_2018['Amount'].replace("—", np.nan, inplace = True, regex=True)
data_df_2018['Amount'].replace("[,$]", "", inplace = True, regex=True)

In [37]:
# we must convert rupees to dollars
## create new columns to store INR values and $ values
## rsplit the 'Amount' using '₹' as the delimiter. We only want values with'₹' from the right.
data_df_2018['Amount (₹)'] = data_df_2018['Amount'].str.rsplit('₹', n = 2).str[1]

# Convert to float and fill any missing (NaN) values wit 0
data_df_2018['Amount (₹)'] = data_df_2018['Amount (₹)'].apply(float).fillna(0)

# Convert the INR values to USD
data_df_2018['Amount ($)'] = data_df_2018['Amount (₹)'] * 0.0146 # Average exchange rate in 2018

In [38]:
data_df_2018.tail()

,Company Name,Industry,Round/Series,Amount,Location,About Company,Amount (₹),Amount ($)
521,Udaan,B2B,Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif...",0.0,0.0
522,Happyeasygo Group,Tourism,Series A,NaN,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.,0.0,0.0
523,Mombay,Food and Beverage,Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...,0.0,0.0
524,Droni Tech,Information Technology,Seed,₹35000000,"Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...,35000000.0,511000.0
525,Netmeds,Biotechnology,Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!,0.0,0.0

In [39]:
# Replace 0 values with np.nan in the converted rupee values
data_df_2018['Amount ($)'] = data_df_2018['Amount ($)'].replace(0, np.nan)

# Fill nan values in USD amount column with values in Amount column
data_df_2018['Amount ($)'] = data_df_2018['Amount ($)'].fillna(data_df_2018['Amount'])

# drop Amount column and INR column
data_df_2018.drop(['Amount','Amount (₹)'], axis = 1, inplace = True)

In [40]:
data_df_2018['Amount ($)']

0           250000
1         584000.0
2         949000.0
3          2000000
4              NaN
5          1600000
6         233600.0
7         730000.0
8              NaN
9              NaN
10             NaN
11             NaN
12             NaN
13             NaN
14             NaN
15       1460000.0
16          150000
17         1100000
18             NaN
19          7300.0
20         6000000
21          650000
22        511000.0
23        934400.0
24             NaN
25             NaN
26         2000000
27         2000000
28         2000000
29             NaN
30        292000.0
31         1000000
32             NaN
33          650000
34         1000000
35         5000000
36         4000000
37        438000.0
38         1000000
39         2800000
40             NaN
41          150000
42        584000.0
43         1000000
44         1700000
45             NaN
46         1300000
47         2000000
48             NaN
49         73000.0
50        292000.0
51        584000.0
52        292000.0
53         1000000
54        182500.0
55        219000.0
56          500000
57         5000000
58       1518400.0
59        657000.0
60        13400000
61             NaN
62          500000
63             NaN
64        365000.0
65             NaN
66        385440.0
67             NaN
68             NaN
69        116800.0
70           876.0
71         4000000
72         9000000
73             NaN
74          100000
75           20000
76             NaN
77         1000000
78             NaN
79         4000000
80          250000
81             NaN
82          120000
83        496400.0
84             NaN
85       4993200.0
86          143145
87             NaN
88       8760000.0
89             NaN
90       742000000
91      14600000.0
92      29200000.0
93         3980000
94      29200000.0
95           10000
96             NaN
97      14600000.0
98          1460.0
99       3650000.0
100     29200000.0
101     1000000000
102        7000000
103            NaN
104       35000000
105      8030000.0
106       28500000
107       438000.0
108        2000000
109      3504000.0
110            NaN
111            NaN
112            NaN
113      1752000.0
114        2400000
115       30000000
116     36500000.0
117       23000000
118            NaN
119         150000
120            NaN
121            NaN
122       11000000
123       642400.0
124        3240000
125            NaN
126       876000.0
127     36500000.0
128            NaN
129            NaN
130      540000000
131      9490000.0
132     23360000.0
133            NaN
134         900000
135       10000000
136            NaN
137            NaN
138        1500000
139            NaN
140       730000.0
141      1022000.0
142            NaN
143        1000000
144        5000000
145       233600.0
146       14000000
147      1496500.0
148      100000000
149      8030000.0
150            NaN
151       292000.0
152        2000000
153            NaN
154        17520.0
155      3650000.0
156     75920000.0
157            NaN
158            NaN
159         800000
160        1041000
161         100000
162         100000
163            NaN
164         1460.0
165            NaN
166          15000
167         500000
168        1400000
169        5000000
170        1200000
171       730000.0
172            NaN
173        1000000
174            NaN
175        2200000
176         500000
177      1460000.0
178        2000000
179        1800000
180         500000
181            NaN
182         150000
183        3600000
184         500000
185       138700.0
186            NaN
187         300000
188         500000
189        6830000
190        1400000
191         200000
192        2000000
193      2190000.0
194            NaN
195        1000000
196        4300000
197            NaN
198            NaN
199            NaN
200         300000
201            NaN
202         364846
203        4000000
204         500000
205         400000
206            NaN
207        1500000
208            NaN
209         120000
210       102200.0
211        20440.0
212            NaN
213         500000
214            NaN
215       730000.0
216            NaN
217            NaN
218         500000
219        1000000
220       146000.0
221       328500.0
222        73000.0
223       13200000
224            NaN
225            NaN
226            NaN
227         500000
228        1000000
229            NaN
230          50000
231       730000.0
232         200000
233      2046920.0
234        3000000
235         400000
236        1100000
237         500000
238        1250000
239         180000
240       438000.0
241       280320.0
242      1503800.0
243            NaN
244       584000.0
245        1000000
246        1500000
247        2000000
248            NaN
249        4200000
250         175000
251       511000.0
252            NaN
253      1460000.0
254        1300000
255            NaN
256        1450000
257            NaN
258         2920.0
259        1000000
260        4500000
261        1000000
262         500000
263         600000
264         250000
265        2000000
266            NaN
267        4500000
268       242360.0
269       175200.0
270        1000000
271            NaN
272       15000000
273       292000.0
274         300000
275          50000
276       438000.0
277            NaN
278            NaN
279            NaN
280            NaN
281            NaN
282            NaN
283       481800.0
284         125000
285        4000000
286        1000000
287            NaN
288         130000
289         300000
290            NaN
291        1000000
292        2000000
293            NaN
294         250000
295       509540.0
296            NaN
297            NaN
298      1051200.0
299       730000.0
300            NaN
301            NaN
302         120000
303      1752000.0
304       17200000
305         600000
306            NaN
307            NaN
308       511000.0
309       467200.0
310         100000
311        1000000
312      3650000.0
313        3500000
314            NaN
315      1971000.0
316            NaN
317         250000
318        1100000
319        1000000
320            NaN
321        3000000
322            NaN
323            NaN
324            NaN
325        1500000
326        1600000
327         200000
328       12000000
329       219000.0
330       292000.0
331            NaN
332        1000000
333       146000.0
334      1971000.0
335        3000000
336       730000.0
337       292000.0
338            NaN
339            NaN
340        4200000
341       934400.0
342       730000.0
343            NaN
344            NaN
345            NaN
346            NaN
347            NaN
349       10000000
350       584000.0
351       40000000
352            NaN
353        1100000
354       50000000
355        1500000
356     22484000.0
357            NaN
358        3000000
359       657000.0
360      100000000
361        1500000
362        6000000
363      2044000.0
364       876000.0
365        3000000
366            NaN
367         100000
368        73000.0
369       41900000
370       11000000
371            NaN
372      100000000
373     20586000.0
374            NaN
375        3530000
376      1051200.0
377         200000
378        3300000
379      3504000.0
380        1000000
381            NaN
382      8468000.0
383            NaN
384        2000000
385         100000
386        6000000
387       525600.0
388      4964000.0
389      210000000
390       511000.0
391      1022000.0
392       11000000
393            NaN
394       730000.0
395      1022000.0
396        5000000
397       37680000
398            NaN
399       50000000
400        1000000
401         250000
402            NaN
403          20000
404         900000
405            NaN
406        17520.0
407            NaN
408        5000000
409            NaN
410       584000.0
411      7446000.0
412     32120000.0
413        5000000
414        1000000
415       22000000
416            NaN
417          70000
418            NaN
419       10000000
420    224723200.0
421    292000000.0
422     58400000.0
423        1000000
424       365000.0
425      185000000
426      2044000.0
427            NaN
428            NaN
429            NaN
430            NaN
431            NaN
432            NaN
433        1000000
434       65000000
435        2000000
436            NaN
437      2409000.0
438      9490000.0
439            NaN
440         700000
441       30000000
442            NaN
443      3066000.0
444      210000000
445        4000000
446            NaN
447       292000.0
448     29632160.0
449       75000000
450      8760000.0
451       30000000
452      1168000.0
453        1760000
454        2700000
455         400000
456      4088000.0
457     11680000.0
458         750000
459        2500000
460            NaN
461            NaN
462       80000000
463       25000000
464     10658000.0
465            NaN
466        3000000
467            NaN
468        3500000
469      5840000.0
470      8760000.0
471        1100000
472        3700000
473        1300000
474      2044000.0
475        5600000
476      3796000.0
477            NaN
478      2190000.0
479            NaN
480            NaN
481       175200.0
482       99230000
483        1000000
484       70000000
485        1000000
486        2000000
487            NaN
488      5840000.0
489          40000
490         550000
491            NaN
492       50000000
493       50000000
494      365000000
495            NaN
496       127750.0
497        1500000
498       30000000
499        5000000
500      1138800.0
501        4000000
502            NaN
503       28000000
504       15000000
505            NaN
506        5000000
507       182500.0
508            NaN
509      3854400.0
510            NaN
511      100000000
512            NaN
513     16498000.0
514     11826000.0
515            NaN
516     20440000.0
517       146000.0
518            NaN
519        6000000
520       14900000
521      225000000
522            NaN
523           7500
524       511000.0
525       35000000
Name: Amount ($), dtype: object

In [41]:
# add a year column

data_df_2018['Year'] = 2018

In [42]:
data_df_2018['Location'].value_counts()

Location
Bangalore, Karnataka, India         101
Mumbai, Maharashtra, India           94
Bengaluru, Karnataka, India          55
Gurgaon, Haryana, India              52
New Delhi, Delhi, India              51
Pune, Maharashtra, India             20
Chennai, Tamil Nadu, India           19
Hyderabad, Andhra Pradesh, India     18
Delhi, Delhi, India                  16
Noida, Uttar Pradesh, India          15
Haryana, Haryana, India              11
Jaipur, Rajasthan, India              9
Ahmedabad, Gujarat, India             6
Kolkata, West Bengal, India           6
Bangalore City, Karnataka, India      5
Indore, Madhya Pradesh, India         4
India, Asia                           4
Kormangala, Karnataka, India          3
Ghaziabad, Uttar Pradesh, India       2
Kochi, Kerala, India                  2
Bhopal, Madhya Pradesh, India         2
Thane, Maharashtra, India             2
Jodhpur, Rajasthan, India             1
Powai, Assam, India                   1
Andheri, Maharashtra, India           1
Mylapore, Tamil Nadu, India           1
Kalpakkam, Tamil Nadu, India          1
Guntur, Andhra Pradesh, India         1
Coimbatore, Tamil Nadu, India         1
Worli, Maharashtra, India             1
Alleppey, Kerala, India               1
Chandigarh, Chandigarh, India         1
Guindy, Tamil Nadu, India             1
Uttar Pradesh, India, Asia            1
Trivandrum, Kerala, India             1
Ernakulam, Kerala, India              1
Kanpur, Uttar Pradesh, India          1
Kannur, Kerala, India                 1
Alwar, Rajasthan, India               1
Margão, Goa, India                    1
Belgaum, Karnataka, India             1
Kalkaji, Delhi, India                 1
Anand, Gujarat, India                 1
Kota, Rajasthan, India                1
Faridabad, Haryana, India             1
Cochin, Kerala, India                 1
Hubli, Karnataka, India               1
Azadpur, Delhi, India                 1
Mohali, Punjab, India                 1
Lucknow, Uttar Pradesh, India         1
Name: count, dtype: int64

In [43]:
# we want to simplify the location column
## Split values with a comma delimiter, select only the first element from the resulting list of substrings
## remove single quotes, since it is a string


data_df_2018['Location'] = data_df_2018['Location'].str.split(',').str[0].replace("'","",regex=True)

In [44]:
data_df_2018['Round/Series'].value_counts()

Round/Series
Seed                                                                                                       279
Series A                                                                                                    73
Angel                                                                                                       37
Venture - Series Unknown                                                                                    37
Series B                                                                                                    20
Series C                                                                                                    16
Debt Financing                                                                                              13
Private Equity                                                                                              10
Corporate Round                                                                                              8
Pre-Seed                                                                                                     6
Series E                                                                                                     5
Grant                                                                                                        4
Series D                                                                                                     3
Secondary Market                                                                                             3
Post-IPO Equity                                                                                              3
Undisclosed                                                                                                  2
Post-IPO Debt                                                                                                2
Non-equity Assistance                                                                                        1
Series H                                                                                                     1
https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593      1
Funding Round                                                                                                1
Name: count, dtype: int64

In [45]:
#replace missing/unkown values with np.nan

data_df_2018['Round/Series']=data_df_2018['Round/Series'].replace('Venture - Series Unknown',np.nan)
data_df_2018['Round/Series']=data_df_2018['Round/Series'].replace('https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593',np.nan)
data_df_2018['Round/Series']=data_df_2018['Round/Series'].replace('Undisclosed',np.nan)

In [47]:
# Rename Columns to match other Data tables
data_df_2018.rename(columns = {'Company Name': 'Company/Brand', 'Industry': 'Sector', 
                               'Round/Series':'Stage', 'Location': 'HeadQuarter', 'About Company':'What it does', 'Amount ($)': 'Amount($)'}, inplace=True)
data_df_2018.info()

<class 'pandas.core.frame.DataFrame'>
Index: 525 entries, 0 to 525
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  525 non-null    object
 1   Sector         495 non-null    object
 2   Stage          485 non-null    object
 3   HeadQuarter    525 non-null    object
 4   What it does   525 non-null    object
 5   Amount($)      377 non-null    object
 6   Year           525 non-null    int64
dtypes: int64(1), object(6)
memory usage: 32.8+ KB

### 2019 Data Cleaning

In [48]:
data_df_2019 = pd.read_csv('startup_funding2019.csv')
data_df_2019.tail()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
84,Infra.Market,NaN,Mumbai,Infratech,It connects client requirements to their suppl...,"Aaditya Sharda, Souvik Sengupta","Tiger Global, Nexus Venture Partners, Accel Pa...","$20,000,000",Series A
85,Oyo,2013.0,Gurugram,Hospitality,Provides rooms for comfortable stay,Ritesh Agarwal,"MyPreferred Transformation, Avendus Finance, S...","$693,000,000",NaN
86,GoMechanic,2016.0,Delhi,Automobile & Technology,Find automobile repair and maintenance service...,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...",Sequoia Capital,"$5,000,000",Series B
87,Spinny,2015.0,Delhi,Automobile,Online car retailer,"Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...","Norwest Venture Partners, General Catalyst, Fu...","$50,000,000",NaN
88,Ess Kay Fincorp,NaN,Rajasthan,Banking,Organised Non-Banking Finance Company,Rajendra Setia,"TPG, Norwest Venture Partners, Evolvence India","$33,000,000",NaN

In [49]:
data_df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [50]:
# check duplicates

data_df_2019.duplicated().sum()

0

In [51]:
# drop columns

data_df_2019.drop(['Founded', 'Founders', 'Investor'], axis = 1, inplace = True)

In [52]:
# add year column

data_df_2019['Year']=2019

In [53]:
data_df_2019['Amount($)'].value_counts()

Amount($)
Undisclosed     12
$5,000,000       6
$1,500,000       4
$6,000,000       4
$1,000,000       4
$30,000,000      3
$20,000,000      3
$50,000,000      3
$4,000,000       3
$5,500,000       3
$26,000,000      2
$2,000,000       2
$12,000,000      2
$100,000         2
$5,700,000       1
$693,000,000     1
$4,800,000       1
$120,000,000     1
$311,000,000     1
$6,800,000       1
$36,000,000      1
$2,800,000       1
$220,000         1
$600,000         1
$7,000,000       1
$2,100,000       1
$70,000,000      1
$60,000,000      1
$8,000,000       1
$25,000,000      1
$6,300,000       1
$100,000,000     1
$11,000,000      1
$28,000,000      1
$275,000,000     1
$22,000,000      1
$140,500         1
$540,000,000     1
$15,000,000      1
$182,700         1
$15,500,000      1
$400,000         1
$2,500,000       1
$140,000         1
$230,000,000     1
$49,400,000      1
$32,000,000      1
$150,000,000     1
$150,000         1
$33,000,000      1
Name: count, dtype: int64

In [54]:
# Replace values

data_df_2019['Amount($)'].replace("Undisclosed", np.nan, inplace = True, regex=True)
data_df_2019['Amount($)'].replace("[,$]", "", inplace = True, regex=True)

In [55]:
data_df_2019['HeadQuarter'].unique()

array([nan, 'Mumbai', 'Chennai', 'Telangana', 'Pune', 'Bangalore',
       'Noida', 'Delhi', 'Ahmedabad', 'Gurugram', 'Haryana', 'Chandigarh',
       'Jaipur', 'New Delhi', 'Surat', 'Uttar pradesh', 'Hyderabad',
       'Rajasthan'], dtype=object)

In [56]:
data_df_2019['Sector'].unique()

array(['Ecommerce', 'Edtech', 'Interior design', 'AgriTech', 'Technology',
       'SaaS', 'AI & Tech', 'E-commerce', 'E-commerce & AR', 'Fintech',
       'HR tech', 'Food tech', 'Health', 'Healthcare', 'Safety tech',
       'Pharmaceutical', 'Insurance technology', 'AI', 'Foodtech', 'Food',
       'IoT', 'E-marketplace', 'Robotics & AI', 'Logistics', 'Travel',
       'Manufacturing', 'Food & Nutrition', 'Social Media', nan,
       'E-Sports', 'Cosmetics', 'B2B', 'Jewellery', 'B2B Supply Chain',
       'Games', 'Food & tech', 'Accomodation', 'Automotive tech',
       'Legal tech', 'Mutual Funds', 'Cybersecurity', 'Automobile',
       'Sports', 'Healthtech', 'Yoga & wellness', 'Virtual Banking',
       'Transportation', 'Transport & Rentals',
       'Marketing & Customer loyalty', 'Infratech', 'Hospitality',
       'Automobile & Technology', 'Banking'], dtype=object)

In [57]:
data_df_2019['Stage'].unique()

array([nan, 'Series C', 'Fresh funding', 'Series D', 'Pre series A',
       'Series A', 'Series G', 'Series B', 'Post series A',
       'Seed funding', 'Seed fund', 'Series E', 'Series F', 'Series B+',
       'Seed round', 'Pre-series A'], dtype=object)

In [58]:
#Merge 2018 and 2019 Data

data_new = pd.concat([data_df_2018, data_df_2019])

In [59]:
data_new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 614 entries, 0 to 88
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  614 non-null    object
 1   Sector         579 non-null    object
 2   Stage          528 non-null    object
 3   HeadQuarter    595 non-null    object
 4   What it does   614 non-null    object
 5   Amount($)      454 non-null    object
 6   Year           614 non-null    int64
dtypes: int64(1), object(6)
memory usage: 38.4+ KB

### 2020 Data Cleaning

In [69]:
data_df_2020 = pd.read_csv('LP1_startup_funding2020.csv')
data_df_2020.tail()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
1050,Leverage Edu,NaN,Delhi,Edtech,AI enabled marketplace that provides career gu...,Akshay Chaturvedi,"DSG Consumer Partners, Blume Ventures",1500000.0,NaN,NaN
1051,EpiFi,NaN,NaN,Fintech,It offers customers with a single interface fo...,"Sujith Narayanan, Sumit Gwalani","Sequoia India, Ribbit Capital",13200000.0,Seed Round,NaN
1052,Purplle,2012.0,Mumbai,Cosmetics,Online makeup and beauty products retailer,"Manish Taneja, Rahul Dash",Verlinvest,8000000.0,NaN,NaN
1053,Shuttl,2015.0,Delhi,Transport,App based bus aggregator serice,"Amit Singh, Deepanshu Malviya",SIG Global India Fund LLP.,8043000.0,Series C,NaN
1054,Pando,2017.0,Chennai,Logitech,Networked logistics management software,"Jayakrishnan, Abhijeet Manohar",Chiratae Ventures,9000000.0,Series A,NaN

In [70]:
data_df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.6+ KB

In [71]:
# check duplicates

data_df_2020.duplicated().sum()

3

In [72]:
# show all occurences of duplicated rows

data_df_2020[data_df_2020.duplicated(keep=False)]

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
120,Nykaa,2012.0,Mumbai,Cosmetics,Nykaa is an online marketplace for different b...,Falguni Nayar,"Alia Bhatt, Katrina Kaif",NaN,NaN,NaN
129,Krimanshi,2015.0,Jodhpur,Biotechnology company,Krimanshi aims to increase rural income by imp...,Nikhil Bohra,"Rajasthan Venture Capital Fund, AIM Smart City",600000.0,Seed,NaN
145,Krimanshi,2015.0,Jodhpur,Biotechnology company,Krimanshi aims to increase rural income by imp...,Nikhil Bohra,"Rajasthan Venture Capital Fund, AIM Smart City",600000.0,Seed,NaN
205,Nykaa,2012.0,Mumbai,Cosmetics,Nykaa is an online marketplace for different b...,Falguni Nayar,"Alia Bhatt, Katrina Kaif",NaN,NaN,NaN
326,Byju’s,2011.0,Bangalore,EdTech,An Indian educational technology and online tu...,Byju Raveendran,"Owl Ventures, Tiger Global Management",500000000.0,NaN,NaN
362,Byju’s,2011.0,Bangalore,EdTech,An Indian educational technology and online tu...,Byju Raveendran,"Owl Ventures, Tiger Global Management",500000000.0,NaN,NaN

In [73]:
# Drop duplicates

data_df_2020.drop_duplicates(inplace = True)

In [74]:
# drop columns

data_df_2020.drop(['Founded', 'Founders', 'Investor', 'column10'], axis=1, inplace=True)

In [75]:
# add year column

data_df_2020['Year']=2020

In [76]:
# Rename Columns to match other Data
data_df_2020.rename(columns = {'Company_Brand': 'Company/Brand', 'What_it_does': 'What it does',
                                'Amount': 'Amount($)'}, inplace=True)

In [77]:
data_df_2020['HeadQuarter'].value_counts()

HeadQuarter
Bangalore                                                   316
Mumbai                                                      164
Gurugram                                                     79
Delhi                                                        62
Chennai                                                      43
New Delhi                                                    36
Pune                                                         36
Noida                                                        32
Hyderabad                                                    25
Gurgaon                                                      21
Ahmedabad                                                    11
Kolkata                                                      11
Haryana                                                      10
Indore                                                        8
Jaipur                                                        6
Kochi                                                         5
Thane                                                         5
Gujarat                                                       5
California                                                    5
Singapore                                                     4
Jaipur, Rajastan                                              3
San Francisco                                                 3
Jodhpur                                                       3
Kerala                                                        3
Chandigarh                                                    3
San Francisco, California, United States                      2
Goa                                                           2
London, England, United Kingdom                               2
San Francisco Bay Area, Silicon Valley, West Coast            2
Bengaluru                                                     2
Andheri                                                       2
New York, United States                                       2
San Francisco, United States                                  1
Tirunelveli, Tamilnadu                                        1
Tangerang, Jawa Barat, Indonesia                              1
Berlin                                                        1
Seattle                                                       1
Riyadh                                                        1
Seoul                                                         1
New York                                                      1
Bangkok                                                       1
Kanpur                                                        1
Warangal                                                      1
Dehradun                                                      1
Hyderebad                                                     1
Odisha                                                        1
Bihar                                                         1
Belgaum                                                       1
Tamil Nadu                                                    1
Uttar Pradesh                                                 1
Bhopal                                                        1
Banglore                                                      1
Coimbatore                                                    1
San Franciscao                                                1
Ludhiana                                                      1
San Ramon, California                                         1
Frisco, Texas, United States                                  1
Paris, Ile-de-France, France                                  1
Plano, Texas, United States                                   1
Sydney                                                        1
Patna                                                         1
Bangaldesh                                                    1
Dhingsara, Haryana                                            1
Milano, Lombardia, Italy                                      1
Palmwoods, Queensland, Australia                              1
France                                                        1
San Francisco Bay Area, West Coast, Western US                1
Trivandrum, Kerala, India                                     1
Cochin                                                        1
Samastipur, Bihar                                             1
Irvine, California, United States                             1
Tumkur, Karnataka                                             1
Newcastle Upon Tyne, Newcastle upon Tyne, United Kingdom      1
Shanghai, China                                               1
Jiaxing, Zhejiang, China                                      1
Rajastan                                                      1
Sydney, New South Wales, Australia                            1
Name: count, dtype: int64

In [79]:
# we want to simplify some of the values the HeadQuarter column
## Split values with a comma delimiter; select only the first element from the resulting list of substrings
## remove single quotes, since it is a string

data_df_2020['HeadQuarter'] = data_df_2020['HeadQuarter'].str.split(',').str[0].str.replace("'", "", regex=True)

In [80]:
#correcting data typos

data_df_2020['HeadQuarter'].replace('Hyderebad','Hyderabad',inplace =True, regex=True)
data_df_2020['HeadQuarter'].replace('San Francisco Bay Area',
                                    'San Francisco',inplace =True, regex=True)
data_df_2020['HeadQuarter'].replace('San Franciscao','San Francisco',inplace =True, regex=True)
data_df_2020['HeadQuarter'].replace('Banglore','Bangalore',inplace =True, regex=True)
data_df_2020['HeadQuarter'].replace('Hyderebad','Hyderabad',inplace =True, regex=True)

In [81]:
data_df_2020['Sector'].value_counts()

Sector
Fintech                               80
Edtech                                67
FinTech                               51
EdTech                                39
E-commerce                            33
Healthtech                            28
SaaS                                  24
Ecommerce                             22
AgriTech                              19
Media                                 19
Tech                                  19
Agritech                              19
AI                                    18
Gaming                                16
Logistics                             16
SaaS startup                          15
HealthTech                            14
Tech Startup                          14
Food                                  12
Foodtech                              12
AI startup                            12
Entertainment                         12
Tech company                          10
Healthcare                             9
IoT                                    8
Fashion                                7
Automobile                             7
Finance                                6
Cosmetics                              6
Retail                                 6
Real Estate                            6
Marketplace                            5
Logitech                               5
Food & Bevarages                       5
HealthCare                             5
Food Industry                          5
Medtech                                5
HR tech                                5
Gaming startup                         5
Beverage                               5
Hospitality                            5
Transport                              5
Fitness startup                        4
Digital Media                          4
EdTech Startup                         4
Insurtech                              4
Social e-commerce                      4
Fitness                                4
FMCG                                   4
SaaS platform                          4
Social Media                           3
Cleantech                              3
FoodTech                               3
Proptech                               3
Technology                             3
Publication                            3
E-market                               3
EV startup                             3
Deeptech                               3
Automobiles                            3
Beverages                              3
Rental                                 3
LegalTech                              3
Finance company                        3
IT                                     3
Health & Wellness                      3
Automotive and Rentals                 3
Automotive                             3
B2B                                    3
Venture capitalist                     3
Job portal                             3
Food tech                              3
Spacetech                              3
Health                                 3
Home Design                            2
B2B marketplace                        2
Education                              2
Co-working                             2
Social Commerce                        2
Pharmaceutical                         2
Travel                                 2
Fashion startup                        2
Food & Beverages                       2
Venture capital                        2
Social commerce                        2
Automation                             2
Nutrition                              2
Yoga & wellness                        2
Food devlivery                         2
TravelTech                             2
Interior Design                        2
Dairy                                  2
Car Service                            2
Retail Tech                            2
Transportation                         2
Accomodation                           2
Recruitment startup                    2
E-mobility                             2
Retail startup                         2
B2B Agritech                           2
Preschool Daycare                      1
Sales & Services                       1
Marketing                              1
Digital tech                           1
Data Intelligence                      1
Co-living                              1
Estore                                 1
Housing & Rentals                      1
AI & Deep learning                     1
VR & SaaS                              1
IoT/Automobile                         1
Defense tech                           1
Hygiene                                1
Visual Media                           1
Construction tech                      1
Interior design                        1
Content Marktplace                     1
Coworking                              1
Eye Wear                               1
Cloud Kitchen                          1
AI Robotics                            1
E tailor                               1
Transport & Rentals                    1
Taxation                               1
Deisgning                              1
Mental Health                          1
Appliance                              1
Pharmacy                               1
Solar Solution                         1
Consultancy                            1
Techonology                            1
Transport Automation                   1
Fashion Tech                           1
Neo-banking                            1
Ad-tech                                1
Nutrition tech                         1
Food diet                              1
Micro-mobiity                          1
AR/VR                                  1
Machine Learning                       1
Robotics                               1
Auto-tech                              1
Beauty                                 1
E store                                1
Location Analytics                     1
Cryptocurrency                         1
Automotive tech                        1
Legal                                  1
Media Tech                             1
EV                                     1
Tourism & EV                           1
Supply chain, Agritech                 1
Travel & SaaS                          1
Pharma                                 1
Insurance technology                   1
Foodtech & Logistics                   1
Housing                                1
Tech hub                               1
Beauty & wellness                      1
Data Analytics                         1
Investment Tech                        1
Financial Services                     1
Data Science                           1
Insurance                              1
Health and Fitness                     1
HrTech                                 1
Biopharma                              1
AI & Media                             1
Med Tech                               1
Life sciences                          1
Retail Aggregator                      1
Deep Tech AI                           1
Biotech                                1
Blockchain                             1
E-tail                                 1
Interior & decor                       1
Travel tech                            1
Mobility/Transport                     1
AI & Data science                      1
Media & Networking                     1
AI & Debt                              1
SaaS/Edtech                            1
Automation tech                        1
eMobility                              1
E-connect                              1
Home interior services                 1
HR                                     1
Luxury car startup                     1
AI Company                             1
Photonics startup                      1
Scanning app                           1
Skincare startup                       1
Food and Beverages                     1
Biotechnology company                  1
CleanTech                              1
PaaS startup                           1
AR/VR startup                          1
QSR startup                            1
Video platform                         1
Fertility tech                         1
FM                                     1
Nutrition Tech                         1
Nutrition sector                       1
Tech platform                          1
Video                                  1
HeathTech                              1
Sles and marketing                     1
Bike marketplace                       1
Agri tech                              1
Reatil startup                         1
AR platform                            1
Consumer Goods                         1
Content marketplace                    1
Rental space                           1
Trading platform                       1
Content management                     1
Dairy startup                          1
HR Tech                                1
Hygiene management                     1
Escrow                                 1
Networking platform                    1
Crowdsourcing                          1
Food Delivery                          1
Virtual auditing startup               1
Work fulfillment                       1
Telecommunication                      1
Sports                                 1
Tyre management                        1
Cloud company                          1
Software company                       1
Renewable player                       1
IoT startup                            1
Aero company                           1
Marketing company                      1
Co-working Startup                     1
Solar Monitoring Company               1
Video sharing platform                 1
Video streaming platform               1
Consumer appliances                    1
Blockchain startup                     1
Conversational AI platform             1
AI platform                            1
Fusion beverages                       1
Soil-Tech                              1
Ayurveda tech                          1
Packaging solution startup             1
EdtTech                                1
AI Platform                            1
Solar SaaS                             1
WL & RAC protection                    1
Agritech startup                       1
API platform                           1
Deep Tech                              1
Electricity                            1
Automotive company                     1
Insurance Tech                         1
Video personalization                  1
Software Company                       1
Biomaterial startup                    1
Craft Beer                             1
Investment                             1
Linguistic Spiritual                   1
Construction                           1
Battery manufacturer                   1
Nano Distribution Network              1
AI health                              1
Dating app                             1
Healthcare/Edtech                      1
Agritech/Commerce                      1
Mobility tech                          1
Food & Logistics                       1
SpaceTech                              1
Manufacturing                          1
Car Trade                              1
Sanitation solutions                   1
Food Startup                           1
InsureTech                             1
AI Startup                             1
Solar solution                         1
Jewellery startup                      1
Multinational conglomerate company     1
Deeptech startup                       1
Social Network                         1
Entreprenurship                        1
Warehouse                              1
Online financial service               1
Eyeglasses                             1
Battery design                         1
Online credit management startup       1
Agriculture                            1
Startup laboratory                     1
Personal care startup                  1
Customer service company               1
SaaS  startup                          1
Marketing startup                      1
Service industry                       1
Social media                           1
Jewellery                              1
AR startup                             1
HR Tech startup                        1
Automotive Startup                     1
Automobile Technology                  1
Name: count, dtype: int64

In [82]:
data_df_2020['Amount($)'] = data_df_2020['Amount($)'].astype(str)
data_df_2020['Amount($)'].value_counts()

Amount($)
nan              253
1000000.0         53
2000000.0         39
3000000.0         27
5000000.0         24
500000.0          22
10000000.0        18
1500000.0         16
4000000.0         14
6000000.0         13
30000000.0        13
600000.0          13
15000000.0        13
8000000.0         11
400000.0          11
300000.0          11
7000000.0         10
2500000.0         10
200000.0          10
20000000.0         9
100000000.0        9
25000000.0         8
100000.0           8
1100000.0          7
800000.0           7
11000000.0         7
3500000.0          6
7500000.0          6
5500000.0          6
50000000.0         6
200000000.0        5
1700000.0          5
1200000.0          5
1300000.0          5
40000000.0         5
9000000.0          5
250000.0           5
12000000.0         5
4500000.0          5
150000.0           4
28000000.0         4
18000000.0         4
55000000.0         4
1400000.0          4
60000000.0         4
150000000.0        4
16000000.0         4
35000000.0         4
340000.0           4
21000000.0         4
750000.0           4
900000.0           3
1600000.0          3
3400000.0          3
650000.0           3
2200000.0          3
2300000.0          3
5200000.0          3
19000000.0         3
12700.0            3
4300000.0          3
700000.0           3
40900.0            2
32000000.0         2
62000000.0         2
6800000.0          2
2100000.0          2
5060000.0          2
13000000.0         2
20000.0            2
160000.0           2
220000.0           2
90000000.0         2
23000000.0         2
1050000.0          2
24000000.0         2
3900000.0          2
11370000.0         2
12500000.0         2
5400000.0          2
15500000.0         2
560000.0           2
75000000.0         2
4700000.0          2
3200000.0          2
4200000.0          2
3300000.0          2
80000000.0         2
5100000.0          2
4257000.0          1
1410000.0          1
1313500.0          1
68525000.0         1
8200000.0          1
349800.0           1
786000.0           1
792000.0           1
2004000.0          1
123000000.0        1
197000.0           1
248000.0           1
5967000.0          1
5305000.0          1
14259000.0         1
264000.0           1
24500000.0         1
3800000.0          1
229800.0           1
480000.0           1
2530000.0          1
5900000.0          1
11363000.0         1
459000.0           1
1715000.0          1
329000.0           1
5271000.0          1
8700000.0          1
27000000.0         1
1326000.0          1
3226000.0          1
1750000.0          1
44000000.0         1
4327000.0          1
3879000.0          1
323000.0           1
8800000.0          1
9500000.0          1
920000.0           1
35600000.0         1
2980000.0          1
9400000.0          1
3937000.0          1
790000.0           1
18370000.0         1
330000.0           1
4800000.0          1
105000000.0        1
4900000.0          1
1402400.0          1
12618300.0         1
9900000.0          1
982530.0           1
70185200.0         1
210000000.0        1
84000000.0         1
39000000.0         1
2700000.0          1
1403400.0          1
103000000.0        1
21500000.0         1
281300.0           1
25000.0            1
97500000.0         1
507000.0           1
8400000.0          1
18300000.0         1
125000000.0        1
181000.0           1
280000.0           1
14700000.0         1
13200000.0         1
296000000.0        1
1402000.0          1
1834000.0          1
10500000.0         1
23850000.0         1
43000000.0         1
21600000.0         1
4598000.0          1
13137000.0         1
115000000.0        1
670000.0           1
8500000.0          1
3148000.0          1
2600000.0          1
4049500.0          1
6500000.0          1
5600000.0          1
43700000.0         1
13800000.0         1
306900.0           1
420000.0           1
627300.0           1
113000000.0        1
110000000.0        1
1397000.0          1
448500.0           1
7975700.0          1
5940000.0          1
3964000.0          1
669000.0           1
27700000.0         1
170000000.0        1
24700000.0         1
7700000.0          1
19067328.0         1
51000000.0         1
115000.0           1
54000.0            1
803146.0           1
238000.0           1
10220000.0         1
1020000.0          1
13400000.0         1
2900000.0          1
2200000000.0       1
543000.0           1
8090000.0          1
1030000.0          1
5040000.0          1
360000.0           1
54000000.0         1
42500000.0         1
325000.0           1
410000.0           1
450000.0           1
682000.0           1
225000000.0        1
500000000.0        1
6609000.0          1
575000.0           1
45000000.0         1
660000000.0        1
120000.0           1
145000000.0        1
275000.0           1
390000000.0        1
700000000.0        1
7800000.0          1
40000.0            1
33000000.0         1
4100000.0          1
121000000.0        1
74000000.0         1
22000000.0         1
52000000.0         1
118000000.0        1
18500000.0         1
70000000000.0      1
800000000.0        1
400000000.0        1
176000000.0        1
470000.0           1
240000.0           1
3000000000.0       1
4050000.0          1
1080000.0          1
2110000.0          1
2888000.0          1
467000.0           1
133000.0           1
3823000.0          1
934000.0           1
293000.0           1
198000.0           1
927000.0           1
971000.0           1
3060000.0          1
1862000.0          1
232000.0           1
1328000.0          1
764000.0           1
56000000.0         1
2250000.0          1
16753000.0         1
3700000.0          1
1470000.0          1
530000.0           1
267000.0           1
3344000.0          1
7200000.0          1
2743000.0          1
6082000.0          1
1340000.0          1
804000.0           1
11241000.0         1
175000.0           1
603000.0           1
409000.0           1
292000.0           1
286000.0           1
136000.0           1
546000.0           1
887000.0           1
43000.0            1
5660000.0          1
350000.0           1
110000.0           1
122000000.0        1
11635000.0         1
2800000.0          1
1065000.0          1
16076000.0         1
649600.0           1
6700000.0          1
266500.0           1
2879000.0          1
26500000.0         1
351000.0           1
46761000.0         1
8043000.0          1
Name: count, dtype: int64

In [83]:
data_df_2020["Amount($)"].replace("nan", np.nan, inplace = True, regex=True)

In [84]:
data_df_2020.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1052 entries, 0 to 1054
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  1052 non-null   object
 1   HeadQuarter    958 non-null    object
 2   Sector         1039 non-null   object
 3   What it does   1052 non-null   object
 4   Amount($)      799 non-null    object
 5   Stage          590 non-null    object
 6   Year           1052 non-null   int64
dtypes: int64(1), object(6)
memory usage: 65.8+ KB

In [85]:
data_df_2020['Stage'].unique()

array([nan, 'Pre-seed', 'Seed', 'Pre-series A', 'Pre-series', 'Series C',
       'Series A', 'Series B', 'Debt', 'Pre-series C', 'Pre-series B',
       'Series E', 'Bridge', 'Series D', 'Series B2', 'Series F',
       'Pre- series A', 'Edge', 'Series H', 'Pre-Series B', 'Seed A',
       'Series A-1', 'Seed Funding', 'Pre-Seed', 'Seed round',
       'Pre-seed Round', 'Seed Round & Series A', 'Pre Series A',
       'Pre seed Round', 'Angel Round', 'Pre series A1', 'Series E2',
       'Pre series A', 'Seed Round', 'Bridge Round', 'Pre seed round',
       'Pre series B', 'Pre series C', 'Seed Investment', 'Series D1',
       'Mid series', 'Series C, D', 'Seed funding'], dtype=object)

### 2021 Data Cleaning

In [86]:
data_df_2021 = pd.read_csv('LP1_startup_funding2021.csv')
data_df_2021.tail()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
1204,Gigforce,2019.0,Gurugram,Staffing & Recruiting,A gig/on-demand staffing company.,"Chirag Mittal, Anirudh Syal",Endiya Partners,$3000000,Pre-series A
1205,Vahdam,2015.0,New Delhi,Food & Beverages,VAHDAM is among the world’s first vertically i...,Bala Sarda,IIFL AMC,$20000000,Series D
1206,Leap Finance,2019.0,Bangalore,Financial Services,International education loans for high potenti...,"Arnav Kumar, Vaibhav Singh",Owl Ventures,$55000000,Series C
1207,CollegeDekho,2015.0,Gurugram,EdTech,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Winter Capital, ETS, Man Capital",$26000000,Series B
1208,WeRize,2019.0,Bangalore,Financial Services,India’s first socially distributed full stack ...,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",$8000000,Series A

In [87]:
data_df_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

In [88]:
data_df_2021.duplicated().sum()

19

In [90]:
# show all occurences of duplicated rows

data_df_2021[data_df_2021.duplicated(keep=False)]

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
94,Curefoods,2020.0,Bangalore,Food & Beverages,Healthy & nutritious foods and cold pressed ju...,Ankit Nagori,"Iron Pillar, Nordstar, Binny Bansal",$13000000,NaN
96,Bewakoof,2012.0,Mumbai,Apparel & Fashion,Bewakoof is a lifestyle fashion brand that mak...,Prabhkiran Singh,InvestCorp,$8000000,NaN
98,FanPlay,2020.0,Computer Games,Computer Games,A real money game app specializing in trivia g...,YC W21,"Pritesh Kumar, Bharat Gupta",Upsparks,$1200000
104,Advantage Club,2014.0,Mumbai,HRTech,Advantage Club is India's largest employee eng...,"Sourabh Deorah, Smiti Bhatt Deorah","Y Combinator, Broom Ventures, Kunal Shah",$1700000,NaN
106,Ruptok,2020.0,New Delhi,FinTech,Ruptok fintech Pvt. Ltd. is an online gold loa...,Ankur Gupta,Eclear Leasing,$1000000,NaN
107,Curefoods,2020.0,Bangalore,Food & Beverages,Healthy & nutritious foods and cold pressed ju...,Ankit Nagori,"Iron Pillar, Nordstar, Binny Bansal",$13000000,NaN
109,Bewakoof,2012.0,Mumbai,Apparel & Fashion,Bewakoof is a lifestyle fashion brand that mak...,Prabhkiran Singh,InvestCorp,$8000000,NaN
111,FanPlay,2020.0,Computer Games,Computer Games,A real money game app specializing in trivia g...,YC W21,"Pritesh Kumar, Bharat Gupta",Upsparks,$1200000
117,Advantage Club,2014.0,Mumbai,HRTech,Advantage Club is India's largest employee eng...,"Sourabh Deorah, Smiti Bhatt Deorah","Y Combinator, Broom Ventures, Kunal Shah",$1700000,NaN
119,Ruptok,2020.0,New Delhi,FinTech,Ruptok fintech Pvt. Ltd. is an online gold loa...,Ankur Gupta,Eclear Leasing,$1000000,NaN
229,Trinkerr,2021.0,Bangalore,Capital Markets,Trinkerr is India's first social trading platf...,"Manvendra Singh, Gaurav Agarwal",Accel India,$6600000,Series A
230,Zorro,2021.0,Gurugram,Social network,Pseudonymous social network platform,"Jasveer Singh, Abhishek Asthana, Deepak Kumar","Vijay Shekhar Sharma, Ritesh Agarwal, Ankiti Bose",$32000000,Seed
231,Ultraviolette,2021.0,Bangalore,Automotive,Create and Inspire the future of sustainable u...,"Subramaniam Narayan, Niraj Rajmohan","TVS Motor, Zoho",$150000000,Series C
232,NephroPlus,2009.0,Hyderabad,Hospital & Health Care,A vision and passion of redefining healthcare ...,Vikram Vuppala,IIFL Asset Management,$24000000,Series E
233,Unremot,2020.0,Bangalore,Information Technology & Services,Unremot is a personal office for consultants!,Shiju Radhakrishnan,Inflection Point Ventures,$700000,Seed
234,FanAnywhere,2021.0,Bangalore,Financial Services,Celebrity NFT platform,"Varun Chaudhary, Amit Kumar","Oasis Capital, Scorpio VC, DeltaHub Capital",$Undisclosed,Seed
235,PingoLearn,2021.0,Pune,E-learning,PingoLearn offers language learning courses wi...,"Mohit Menghani, Shubham Maheshwari","Titan Capital, Haresh Chawla, AngelList Syndicate",$200000,NaN
236,Spry,2021.0,Mumbai,Music,THE BEST ROYALTY-FREE MUSIC TO CREATE TRENDING...,"Gaurav Dagaonkar, Meghna Mittal","9Unicorns, Ashneer Grover",$1500000,Seed
237,Enmovil,2015.0,Hyderabad,Information Technology & Services,Enmovil delivers a Business Intelligence Platf...,"Ravi Bulusu, Nanda Kishore, Venkat Moganty",Anicut Angel Fund,$1300000,Pre-series A
238,ASQI Advisors,2019.0,Mumbai,Financial Services,Bringing Blockchain technology intro mainstrea...,Swapnil Pawar,Founders Room Capital,$1000000,Pre-series A
239,Insurance Samadhan,2018.0,New Delhi,Insurance,The insurance industry will help in representa...,Deepak Bhuvenshwari Uniyal,"9Unicorns, ZNL",$725000,Pre-series A
240,Evenflow Brands,2020.0,Mumbai,Consumer Goods,Identify and partner with the upcoming eCommer...,"Utsav Agarwal, Pulkit Chhabra",NaN,$500000,NaN
241,MasterChow,2020.0,Food & Beverages,Hauz Khas,A ready-to-cook Asian cuisine brand,"Vidur Kataria, Sidhanth Madan",WEH Ventures,$461000,Seed
242,Fullife Healthcare,2009.0,Pharmaceuticals\t#REF!,Primary Business is Development and Manufactur...,Varun Khanna,Morgan Stanley Private Equity Asia,$22000000,Series C,NaN
243,Trinkerr,2021.0,Bangalore,Capital Markets,Trinkerr is India's first social trading platf...,"Manvendra Singh, Gaurav Agarwal",Accel India,$6600000,Series A
244,Zorro,2021.0,Gurugram,Social network,Pseudonymous social network platform,"Jasveer Singh, Abhishek Asthana, Deepak Kumar","Vijay Shekhar Sharma, Ritesh Agarwal, Ankiti Bose",$32000000,Seed
245,Ultraviolette,2021.0,Bangalore,Automotive,Create and Inspire the future of sustainable u...,"Subramaniam Narayan, Niraj Rajmohan","TVS Motor, Zoho",$150000000,Series C
246,NephroPlus,2009.0,Hyderabad,Hospital & Health Care,A vision and passion of redefining healthcare ...,Vikram Vuppala,IIFL Asset Management,$24000000,Series E
247,Unremot,2020.0,Bangalore,Information Technology & Services,Unremot is a personal office for consultants!,Shiju Radhakrishnan,Inflection Point Ventures,$700000,Seed
248,FanAnywhere,2021.0,Bangalore,Financial Services,Celebrity NFT platform,"Varun Chaudhary, Amit Kumar","Oasis Capital, Scorpio VC, DeltaHub Capital",$Undisclosed,Seed
249,PingoLearn,2021.0,Pune,E-learning,PingoLearn offers language learning courses wi...,"Mohit Menghani, Shubham Maheshwari","Titan Capital, Haresh Chawla, AngelList Syndicate",$200000,NaN
250,Spry,2021.0,Mumbai,Music,THE BEST ROYALTY-FREE MUSIC TO CREATE TRENDING...,"Gaurav Dagaonkar, Meghna Mittal","9Unicorns, Ashneer Grover",$1500000,Seed
251,Enmovil,2015.0,Hyderabad,Information Technology & Services,Enmovil delivers a Business Intelligence Platf...,"Ravi Bulusu, Nanda Kishore, Venkat Moganty",Anicut Angel Fund,$1300000,Pre-series A
252,ASQI Advisors,2019.0,Mumbai,Financial Services,Bringing Blockchain technology intro mainstrea...,Swapnil Pawar,Founders Room Capital,$1000000,Pre-series A
253,Insurance Samadhan,2018.0,New Delhi,Insurance,The insurance industry will help in representa...,Deepak Bhuvenshwari Uniyal,"9Unicorns, ZNL",$725000,Pre-series A
254,Evenflow Brands,2020.0,Mumbai,Consumer Goods,Identify and partner with the upcoming eCommer...,"Utsav Agarwal, Pulkit Chhabra",NaN,$500000,NaN
255,MasterChow,2020.0,Food & Beverages,Hauz Khas,A ready-to-cook Asian cuisine brand,"Vidur Kataria, Sidhanth Madan",WEH Ventures,$461000,Seed
256,Fullife Healthcare,2009.0,Pharmaceuticals\t#REF!,Primary Business is Development and Manufactur...,Varun Khanna,Morgan Stanley Private Equity Asia,$22000000,Series C,NaN

In [91]:
# Drop duplicates

data_df_2021.drop_duplicates(inplace = True)

In [92]:
#drop columns

data_df_2021.drop(['Founded', 'Founders', 'Investor'], axis=1, inplace=True)

In [94]:
# add year column

data_df_2021['Year']=2021

In [95]:
data_df_2021.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1190 entries, 0 to 1208
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1190 non-null   object
 1   HeadQuarter    1189 non-null   object
 2   Sector         1190 non-null   object
 3   What_it_does   1190 non-null   object
 4   Amount         1187 non-null   object
 5   Stage          769 non-null    object
 6   Year           1190 non-null   int64
dtypes: int64(1), object(6)
memory usage: 74.4+ KB